:root {
    --light-bg-color: white;
    --light-empty-text-color: black;
    --light-correct-text-color: green;
    --light-wrong-text-color: red;
    
    --dark-bg-color: black;
    --dark-empty-text-color: white;
    --dark-correct-text-color: green;
    --dark-wrong-text-color: red;

    --cur-bg-color: rgb(231, 231, 231);
    --cur-empty-text-color: black;
    --cur-correct-text-color: green;
    --cur-wrong-text-color: red;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    font-family: monospace;
    margin: 0;
    color: var(--cur-empty-text-color);
    background-color: var(--cur-bg-color);
    font-size: 32px;
}

header {
    height: 80px;
    width: calc(100% - 20px);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.header__btn {
    height: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
}

.docs {
    width: 600px;
    height: 200px;
    margin-top: 400px;
    pointer-events: none;
    display: flex;
    font-size: 16px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.docs-btn--active {
    background-color: var(--cur-empty-text-color);
}

.docs-btn--inactive {
    background-color: var(--cur-bg-color);
    border: 1px solid var(--);
}

.docs__key {
    background-color: var(--cur-empty-text-color);
    padding: 1px 5px;
    border-radius: 4px;
    color: var(--cur-bg-color);
}

.docs__hint {
    margin-top: 5px;
}

.text-example {
    cursor: pointer;
}

.input-field {
    opacity: 0%;
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.input__caret {
    /*-8.5px helps to avoid moving of symbols while caret is moving*/
    margin: 0 -8.5px; 
}

.input__caret--blinking {
    /* animation: blinking 1s infinite; */
}

.input__caret--hidden {
    opacity: 0%;
}

.match_color {
    color: green;
}

.miss_color {
    color: red;
}

.empty_color { 
    color: black;
}

#clock {
    border: 3px solid black;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotating 2s infinite;
    animation-play-state: paused;
}

#clock__diameter {
    height: 100%;
    padding-top: 10%;
    box-sizing: border-box;
    width: 3px;
}

#clock__arrow {
    height: 50%;
    border-radius: 2px;
    background-color: black;
}

@keyframes rotating {
    25% { transform: rotate(90deg) }
    50% { transform: rotate(180deg) }
    75% { transform: rotate(270deg) }
    100% { transform: rotate(360deg) }
}

@keyframes blinking {
    0% { opacity: 0%; }
    50% { opacity: 100%; }
    100% { opacity: 0%; }
}